{%extends "layout.html" %}
{% block content %}
  <!--banner-->
  <section class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
              <h3 style="color:white;">Universal Medical Identity</h3>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#banner">Home</a></li>
                <li class=""><a href="#service">Services</a></li>
                <li class=""><a href="#about">About</a></li>
                <li class=""><a href="#testimonial">Testimonial</a></li>
                <li class=""><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
          <div class="container">
                <div class="row">
                        <div class="banner-info">
                                <form>
                                        <div class="container">
                                            <div class="jumbotron">
                                                    <div class="banner-logo text-center">
                                                            <h2 >Text Input</h2>
                                                            <label for="emailId"><b>Email ID</b></label>
                                                               <input type="text" class="form-control" placeholder="Email ID" name="emailId" required>
                                                                <br>
                                                               
                                                              <button type="submit" class="btn btn-appoint large">Submit</button>
                                                              <br>

                                                    </div>
                                            </div>
                                        </div>
                                       </form>

                        </div>
                </div>
                

          </div>

    </div>
  </section>
  <!--/ contact-->
{% endblock content %}